@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




body {

  margin: 0;
  padding: 0;
  
  
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.producto {
  background-color:black;
  
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 30%;
  text-align: center;
  padding: 1rem;
  
}

.producto img {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
}

.producto h3 {
  color: #fff;
  margin-top: 1rem;
  color: #333;
}

.producto p {

  color: white;
  font-size: 1.1rem;
}

.producto button {
  background-color: #1041e4;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.producto button:hover {
  background-color: #1df509;
}

@media (max-width: 768px) {
  .producto {
    width: 100%;
  }
}

#checkout {
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 2rem;
}

#checkout label {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#checkout button {
  background-color: #141414;
  color: white;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout button:hover {
  background-color: #45a049;
}

.carrito {
  
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 250px;
  --clip:path:var()
}

.heading_carrito{
  --clip: polygon(0 0, 100% 1%, 100% 1%, 0 0);

  }

.carrito ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.carrito ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.carrito ul li button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.carrito ul li button:hover {
  background-color: #e60000;
}

.carrito .total {
  text-align: center;
  margin-top: 10px;
}

.carrito button.checkout {
  background-color: #210dd8;
  padding: 0.7rem 1.5rem;
  border: none;
  color: #fff;;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.carrito button.checkout:hover {
  background-color: #45a049;
}
.img_menu{
    border-color: #333;
    width:auto;
    height: auto;
    margin-left: auto;
    background-color: #ffffff;
    cursor: pointer;
    position: left 0 0 0 0;
    
}
.img_menu:hover{
    color: #333333;
}
.footer{
  color-scheme: light dark;
  position-anchor: relative;
  margin: 0%;
  padding: 0%;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #333;
  
  text-transform: uppercase;
  text-decoration:solid;
  
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;

}